# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
~*
.*
*_p.c
*_U.h
*.pch
*.bak
TestResult
TestResults/*
.*.swp
.DS_Store
*.ncb
*.suo
*.old
*.user
Debug*
Release*
*.obj
*.exe
*.dll
*.lib
*.opt
*.plg
*.positions
*.i
*.ldb
*.ilk
*.dep
*.exp
*.aps
*.pdb
*.mdb
bin
obj
CVS
CVS/*
*.cd
.*
*.log
*.*Log
x86
x86/*
x64
x64/*
ClientBin
*.user
*.db
Bin
*.xap
*_i.c
*_i.h
*.vspscc
dlldata.c
*.cmd


# mstest test results
TestResults
