<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDTCMutexService" transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:15488/DTCTransaction.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDTCMutexService"
                contract="IDTCMutexService" name="WSHttpBinding_IDTCMutexService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>