<?xml version="1.0"?>
<configuration>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.diagnostics>
        <sources>
            <source name="System.Transactions" switchValue="Warning">
                <listeners>
                    <add name="tx"
                        type="System.Diagnostics.XmlWriterTraceListener"
                        initializeData="tx.log"  />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDTCMutexService" transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6998/DTCTransaction.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDTCMutexService"
                contract="ServiceReference1.IDTCMutexService" name="WSHttpBinding_IDTCMutexService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
