<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <connectionStrings>        
    <add name="AQ30DbEntities" connectionString="metadata=res://*/Models.MsSQL.MsSQLModel.csdl|res://*/Models.MsSQL.MsSQLModel.ssdl|res://*/Models.MsSQL.MsSQLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost,1432;initial catalog=AQ30R4Db2;user id=sa;password=sa123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>
